@charset "UTF-8";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 1000px;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体",
    sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #707070;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

ol,
ul {
  list-style: none;
}
